name: mise Image CI
permissions: {}

on:
  push:
    branches:
      - patched
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  PATCH_REF: "patched"
  REGISTRY_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/mise

jobs:
  build-mise:
    permissions:
      contents: write
    name: Build mise
    runs-on: ${{ (matrix.platform == 'linux/arm64' && 'ubuntu-24.04-arm') || 'ubuntu-24.04' }}
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: src/*/.git/
          key: cached-source-codes
          restore-keys: |
            cached-source-codes
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: src/mise
          persist-credentials: false
      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1

      # selecting a toolchain either by action or manual `rustup` calls should happen
      # before the plugin, as the cache uses the current rustc version as its cache key
      - shell: bash
        run: |
          curl -fsSLROJ -- \
              'https://raw.githubusercontent.com/bitnami/containers/0852327138b86cd7e7133c671b787dded2c29c9a/bitnami/os-shell/12/debian-12/prebuildfs/usr/sbin/install_packages'
          sudo install -pvD "./install_packages" "/usr/local/bin/"
          sudo install_packages \
              musl-dev musl-tools

          rustup toolchain install \
              --target "$(arch)-unknown-linux-musl" \
              stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          add-job-id-key: true
          cache-all-crates: true
          workspaces: "./src/mise/ -> target"

      - name: Build mise
        env:
          _TARGETARCH: ${{ matrix.platform }}
        shell: bash
        run: |
          set -eo pipefail
          export platform='linux-x64'
          if [[ "${_TARGETARCH}" == "linux/arm64" ]]; then
              export platform='linux-arm64'
              NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          fi
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install cargo-sweep
          cd ./src/mise/
          cargo sweep --stamp

          git remote remove upstream || true
          git remote add upstream https://github.com/jdx/mise.git
          git fetch upstream --depth 100 --prune --prune-tags
          export TAG_MISE=$(
              git tag | sort --version-sort --reverse | head -n 1
          )

          export RUSTFLAGS="${RUSTFLAGS} -C relocation-model=pie -C prefer-dynamic=off"
          [[ $(arch) = "x86_64" ]] && export RUSTFLAGS="${RUSTFLAGS} -C target-cpu=x86-64-v2"
          cargo install --locked --profile=serious \
              --target "$(arch)-unknown-linux-musl" --no-default-features \
              --features "rustls-native-roots,self_update,vfox/vendored-lua,openssl/vendored" \
              --path .

          cargo sweep --dry-run --file
          cargo sweep --file
          pushd "./target/$(arch)-unknown-linux-musl/serious/" || exit 1
          export BIN_MISE=$(pwd)
          popd
          rm -rf ./mise/
          tarball_name="mise-${TAG_MISE}-${platform}-musl.tar.gz"
          curl -fsSL -- \
              "https://github.com/jdx/mise/releases/download/${TAG_MISE}/${tarball_name}" \
              | tar -xzf-
          cp -f "${BIN_MISE}/mise" ./mise/bin/mise
          tar -czf "${tarball_name}" ./mise/

          echo "BIN_MISE=${BIN_MISE}" >> "$GITHUB_ENV"
          echo "TAG_MISE=${TAG_MISE}" >> "$GITHUB_ENV"
          echo "platform=${platform}"  >> "$GITHUB_ENV"
          echo "TIMESTAMP=$(date +%s)" >> "$GITHUB_ENV"
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: github.event_name == 'push' && github.ref_name == ${{ env.PATCH_REF }}
        with:
          fail_on_unmatched_files: true
          generate_release_notes: false
          make_latest: true
          tag_name: ${{ env.TAG_MISE }}
          files: "./src/mise/mise-${{ env.TAG_MISE }}-${{ env.platform }}-musl.tar.gz"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          build-contexts: |
            bin_mise=${{ env.BIN_MISE }}
          build-args: |
            CACHE_BUST=${{ github.run_id }}-${{ env.TIMESTAMP }}
          context: "{{defaultContext}}:mise"
          push: ${{ github.event_name != 'pull_request' }}
          platforms: ${{ matrix.platform }}
          cache-from: type=gha,scope=${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ matrix.platform }}
          outputs: type=image,compression=estargz,force-compression=true,oci-mediatypes=true,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true
      - name: Export digest
        if: github.event_name != 'pull_request'
        env:
          digest: ${{ steps.build.outputs.digest }}
          platform: ${{ matrix.platform }}
        run: |
          mkdir -p /tmp/mise-digests/
          touch "/tmp/mise-digests/${digest#sha256:}"
          echo "PLATFORM_PAIR=${platform//\//-}" >> "$GITHUB_ENV"
      - name: Upload digest
        if: github.event_name != 'pull_request'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: mise-digests-${{ env.PLATFORM_PAIR }}
          path: /tmp/mise-digests/*
          if-no-files-found: error
          retention-days: 1

  build-mise-macos:
    permissions:
      contents: write
    name: Build mise for macOS
    runs-on: macos-15
    steps:
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: src/*/.git/
          key: cached-source-codes
          restore-keys: |
            cached-source-codes
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: src/mise
          persist-credentials: false

      # selecting a toolchain either by action or manual `rustup` calls should happen
      # before the plugin, as the cache uses the current rustc version as its cache key
      - shell: bash
        run: rustup toolchain install stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          add-job-id-key: true
          cache-all-crates: true
          workspaces: "./src/mise/ -> target"

      - name: Build mise
        shell: bash
        run: |
          set -eo pipefail
          brew install cargo-sweep
          cd ./src/mise/
          cargo sweep --stamp

          git remote remove upstream || true
          git remote add upstream https://github.com/jdx/mise.git
          git fetch upstream --depth 100 --prune --prune-tags
          export TAG_MISE=$(
              git tag | sort --version-sort --reverse | head -n 1
          )

          export RUSTFLAGS="${RUSTFLAGS} -C relocation-model=pie -C prefer-dynamic=off"
          cargo install --locked --profile=serious \
              --no-default-features \
              --features "rustls-native-roots,self_update,vfox/vendored-lua,openssl/vendored" \
              --path .

          cargo sweep --dry-run --file
          cargo sweep --file
          rm -rf ./mise/
          tarball_name="mise-${TAG_MISE}-macos-arm64.tar.gz"
          curl -fsSL -- \
              "https://github.com/jdx/mise/releases/download/${TAG_MISE}/${tarball_name}" \
              | tar -xzf-
          cp -f ./target/serious/mise ./mise/bin/mise
          tar -czf "${tarball_name}" ./mise/

          echo "TAG_MISE=${TAG_MISE}" >> "$GITHUB_ENV"
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: github.event_name == 'push' && github.ref_name == ${{ env.PATCH_REF }}
        with:
          fail_on_unmatched_files: true
          generate_release_notes: false
          make_latest: true
          tag_name: ${{ env.TAG_MISE }}
          files: "./src/mise/mise-${{ env.TAG_MISE }}-macos-arm64.tar.gz"

  mise-multiarch:
    runs-on: ubuntu-24.04
    if: github.event_name != 'pull_request'
    needs:
      - build-mise
    steps:
      - name: Download digests
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: /tmp/mise-digests/
          pattern: mise-digests-*
          merge-multiple: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Create manifest list and push
        working-directory: /tmp/mise-digests/
        env:
          REGISTRY_IMAGE: ${{ env.REGISTRY_IMAGE }}
        run: |
          # shellcheck disable=SC2046
          docker buildx imagetools create --tag "${REGISTRY_IMAGE}:latest" \
              $(printf "${REGISTRY_IMAGE}@sha256:%s " *)
      - name: Inspect image
        env:
          REGISTRY_IMAGE: ${{ env.REGISTRY_IMAGE }}
        run: |
          docker buildx imagetools inspect "${REGISTRY_IMAGE}:latest" \
              | grep -Po '[^ \r\n\t\v]+@sha256:[a-z0-9]+' | xargs -r -t -n 1 docker buildx imagetools inspect --raw
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: "${{ env.REGISTRY_IMAGE }}:latest"
          format: "table"
