name: mise Image CI
permissions: {}

on:
  push:
    branches:
      - patched
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  PATCH_REF: "patched"
  REGISTRY_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/mise

jobs:
  build-mise-macos:
    permissions:
      contents: write
    name: Build mise for macOS
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: src/*/.git/
          key: cached-source-codes
          restore-keys: |
            cached-source-codes
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: src/mise
          persist-credentials: false

      # selecting a toolchain either by action or manual `rustup` calls should happen
      # before the plugin, as the cache uses the current rustc version as its cache key
      - shell: bash
        run: |
          rustup target add "aarch64-apple-darwin"
          curl -fsSL -- \
              'https://github.com/joseluisq/macosx-sdks/releases/download/15.5/MacOSX15.5.sdk.tar.xz' \
              | sudo tar -xJf- -C /opt/
      - uses: Swatinem/rust-cache@972b315a8225e8594dddc2b92e6333d1d1d3059c
        with:
          add-job-id-key: true
          cache-all-crates: true
          save-if: (github.ref == 'refs/heads/${{ env.PATCH_REF }}')
          workspaces: "./src/mise/ -> target"

      - name: Build mise
        shell: bash
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install \
              cargo-sweep \
              cargo-zigbuild zig
          cd ./src/mise/ || exit 1
          cargo sweep --stamp

          export SDKROOT=/opt/MacOSX15.5.sdk
          cargo zigbuild --bins --profile=serious \
              --target "aarch64-apple-darwin" \
              --no-default-features \
              --features "rustls-native-roots,self_update,vfox/vendored-lua,openssl/vendored"

          cargo sweep --dry-run --file
          cargo sweep --file
          sudo cp -f './target/serious/mise' '/usr/local/bin/mise-darwin-arm64'
      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        if: github.event_name == 'push' && github.ref_name == ${{ env.PATCH_REF }}
        with:
          fail_on_unmatched_files: true
          generate_release_notes: false
          make_latest: true
          tag_name: latest
          files: "/usr/local/bin/mise-darwin-arm64"
